@import url("https://fonts.cdnfonts.com/css/poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animate-loading-bar {
  animation: loading-bar 2s linear infinite;
}

@keyframes loading-bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
